<label for="toggle-password">{{label}}</label>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{{entypo-icon "key"}}</span>
  </div>
  {{input id="toggle-password" minlength=minlength required=required class="form-control form-control-lg" type=type value=value autocomplete=autocomplete}}
  <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" title={{buttonLabel}} {{action "toggleDisplay"}}>
      {{#if show}}
        {{entypo-icon "eye-with-line"}}
      {{else}}
        {{entypo-icon "eye"}}
      {{/if}}
    </button>
  </div>
</div>
